<h1>Welcome to homepage</h1>
<%- include('components/header.ejs')%>
    <label>List of products</label>

    <ul>
        <% products.forEach(product=>{%>
            <li>
                <%= product.title%>
            </li>

            <% }) %>
    </ul>